<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!-- CONTENT HERE -->
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>img_url</th>
                    <th>price</th>
                    <th>Stock</th>
                </tr>
            </thead>
        </table>
    </div>


<!-- END OF CONTENT HERE -->
<%- include('./partials/footer') %>